body { background-color: purple; }
	h1 {color: gold;}
	h2 {color: yellow;}
	h3 {color: yellow;}
	p {color: lime;}
	
	table {background-color: lightblue;}
	ul {background-color: lightblue;}
	
	table, tr, td, ul {border: 2px solid red;}
	tr:hover {background-color: aqua;}
	
	h1 {font-family: "Times New Roman";
		font-style: italic;
		font-size: 40px;}
	h2 {font-family: "Times New Roman";
		font-style: italic;
		font-size: 30px;}
	h3 {font-family: "Times New Roman";
		font-style: italic;
		font-size: 30px;}
	p {font-family: "Times New Roman";
		font-size: 20px;
		color: lime;}
	li {font-family: "Times New Roman";
		font-size: 15px;
		color: darkviolet;}
		
	img {border: 3px solid black;
		border-radius: 12px;
		width: 200px;
		height: 250px;
		display: block;
		margin: left;
		opacity: 0.5;}

	a.Logo_Catalog {font-style: italic;
			font-size:24px;}

	#Logo_Catalog {border: 2px solid gold;
			border-radius: 10px;
			width: 130px;
			height: 50px;
			display: block;
			margin: auto;
			opacity: 0.7;}

	#Titlu_Catalog {font-family: "Times New Roman";
			font-style: italic;
			font-size: 50px;
			color: gold;}